.cards__item {
  width: 240px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding: 60px 100px 0 0;
}

.cards__item:nth-child(3) {
  padding-right: 0;
}


